body {
	background: #FFEFDB;
	padding-top: 10px;
	padding-bottom: 10px;
}

h1, h2, h3, h4 {
	font-family: 'Averia Libre', cursive;
}

#header {
	margin-bottom:10px;
}

#footer {
	margin-top: 10px;
	text-align: center;
}

#footer ul li {
	display: inline-block;
}

#header h1 {
	font-size:4.3em;
}

.inner .content {
	padding: 10px 0px 0px 10px;
}

.colour1 .inner {
	border-left: 10px solid #FF765E;
}

.colour1 h2 {
	background: #FF765E;
}

#column1 h2 {
	background-image: url('../img/card-address.png');
	background-repeat: no-repeat;
	padding-left: 38px;
}

#column1 img {
	width: 100%;
	margin-bottom:1em;
}

.colour1 a {
	color: #FF765E;
}

#column1 p {
	text-align: justify;
}

.colour2 .inner {
	border-left: 10px solid #FCCF65;
}

.colour2 h2 {
	background: #FCCF65;
}

.blogposts h2 {
	background-image: url('../img/balloon.png');
	background-repeat: no-repeat;
	padding-left: 38px;
}

.blogposts ul {
	list-style: none;
	margin:0;
}

.post {
	list-style: none;
	background: url(../img/blog-medium.png) no-repeat;
	padding-left: 20px;
}

.more {
	background: #FCCF65;
	text-align: center;
	width: 100%;
	margin-top:10px;
}

.more a {
	color: #000;
	font-weight: bold;
	width: 100%;
	display: inline-block;
}

.colour3 {
	border-left: 10px solid #A9CF54;
}

#stuff_i_do {
	margin-bottom:20px;
}

.colour3 h2 {
	background: #A9CF54;
}

#stuff_i_do h2 {
	background-image: url('../img/monitor.png');
	background-repeat: no-repeat;
	padding-left: 38px;
}

#stuff_i_do .more {
	background: #A9CF54;
}

.colour4 {
	border-left: 10px solid #B7BDC4;
}

#portfolio {
	margin-bottom: 20px;
}

.colour4 h2 {
	background: url('../img/did.png') 0px 3px no-repeat #B7BDC4;
}

#portfolio h2 {
	padding-left: 38px;
}

.colour4 .more {
	background: #B7BDC4;
}

#column3 ul {
	list-style: none;
	margin: 0;
}

#stuff_i_do li {
	display: inline-block;
}

#stuff_i_do img {
	max-width: 80px;
}

#portfolio li {
	padding-left: 20px;
}

#portfolio span {
	margin-right: 5px;
	width: 55px;
	display: inline-block;
	text-align: center;
}

#portfolio .academic {
	background: url('../img/icons/academic.png') 0px 3px no-repeat;
}
#portfolio .job {
	background: url('../img/icons/job.png') no-repeat;
}
#portfolio .webapplication {
	background: url('../img/icons/webapplication.png') no-repeat;
}
#portfolio .game {
	background: url('../img/icons/game.png') no-repeat;
}
#portfolio .application {
	background: url('../img/icons/application.png') no-repeat;
}
#portfolio .library {
	background: url('../img/icons/library.png') no-repeat;
}

#header, #footer, #footer a {
	background: #C2AE8B;
	color: #FFEFDB;
}

@media (max-width: 767px) {
	#column1, #column2 {
		margin-bottom: 20px;
	}
}



/* Start Downloads */
#downloads h2, #links h2 {
	background-image: url('../img/download.png');
	background-repeat: no-repeat;
	background-position-y: 2px;
	padding-left: 38px;
}

#downloads ul, #links ul {
	list-style: none;
	margin: 5px;
}

#downloads ul li, #links ul li {
	padding-left: 20px;
	color: #777;
}

#downloads ul li.application, #links ul li.application {
	background-image: url('../img/icons/application.png');
	background-repeat: no-repeat;
}

#downloads ul li.source, #links ul li.source {
	background-image: url('../img/icons/code.png');
	background-repeat: no-repeat;
}

#downloads ul li.webapplication, #links ul li.webapplication {
	background-image: url('../img/icons/webapplication.png');
	background-repeat: no-repeat;
}

#downloads ul li.dissertation, #links ul li.dissertation {
	background-image: url('../img/icons/dissertation.png');
	background-repeat: no-repeat;
}

/* End Downloads */

/* Start Links */

/* End Links */
#links h2 {
	background-image: url('../img/link.png');
}

#links ul li {
	background-image: url('../img/icons/website.png');
	background-repeat: no-repeat;
}

/* Start uni */

.year h2, #modules h2 {
	padding-right: 5px;
	background-image: url('../img/academic.png');
	background-repeat: no-repeat;
	background-position-y: 3px;
	padding-left: 38px;
}

.year .name {
	display: inline-block;
	width: 60%;
}

#modules .grade, .year .grade {
	display: inline-block;
	text-align: right;
	width: 40%;
}

.year ul {
	list-style: none;
	margin: 0;
}

.year li {
	padding: 0px 5px 0px 5px;
}

.module.alt {
	background: #f1e0c4;
}

/* End uni */