body {
	background: #FFEFDB;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Averia Libre', cursive;
}

#header {
	margin-bottom:10px;
}

#footer {
	margin-top: 10px;
	text-align: center;
}

#footer ul li {
	display: inline-block;
}

#header h1 {
	font-size:4.3em;
}

.inner .content {
	padding: 10px 0px 0px 10px;
}

.colour1 .inner {
	border-left: 10px solid #FF765E;
}

.colour1 h2 {
	background: #FF765E;
}

#column1 h2 {
	background-image: url('../img/card-address.png');
	background-repeat: no-repeat;
	padding-left: 38px;
}

#column1 img {
	width: 100%;
	margin-bottom:1em;
}

.colour1 a {
	color: #FF765E;
}

#column1 p {
	text-align: justify;
}

.colour2 .inner {
	border-left: 10px solid #FCCF65;
}

.colour2 h2 {
	background: #FCCF65;
}

#column2 h2 {
	background-image: url('../img/balloon.png');
	background-repeat: no-repeat;
	padding-left: 38px;
}

#column2 ul {
	list-style: none;
	margin:0;
}

.post {
	list-style: none;
	background: url(../img/blog-medium.png) no-repeat;
	padding-left: 20px;
}

.more {
	background: #FCCF65;
	text-align: center;
	width: 100%;
	margin-top:10px;
}

.more a {
	color: #000;
	font-weight: bold;
	width: 100%;
	display: inline-block;
}

.colour3 {
	border-left: 10px solid #A9CF54;
}

#stuff_i_do {
	margin-bottom:20px;
}

.colour3 h2 {
	background: #A9CF54;
}

#stuff_i_do h2 {
	background-image: url('../img/monitor.png');
	background-repeat: no-repeat;
	padding-left: 38px;
}

#stuff_i_do .more {
	background: #A9CF54;
}

#portfolio {
	border-left: 10px solid #B7BDC4;
	margin-bottom: 20px;
}
#portfolio h2 {
	background: url('../img/did.png') 0px 3px no-repeat #B7BDC4;
	padding-left: 38px;
}

#portfolio .more {
	background: #B7BDC4;
}

#column3 ul {
	list-style: none;
	margin: 0;
}

#stuff_i_do li {
	display: inline-block;
}

#stuff_i_do img {
	max-width: 80px;
}

#portfolio li {
	padding-left: 20px;
}

#portfolio span {
	margin-right: 5px;
	width: 55px;
	display: inline-block;
	text-align: center;
}

#portfolio .academic {
	background: url('../img/icons/academic.png') 0px 3px no-repeat;
}
#portfolio .job {
	background: url('../img/icons/job.png') no-repeat;
}
#portfolio .webapplication {
	background: url('../img/icons/webapplication.png') no-repeat;
}
#portfolio .application {
	background: url('../img/icons/application.png') no-repeat;
}
#portfolio .library {
	background: url('../img/icons/library.png') no-repeat;
}

#header, #footer, #footer a {
	background: #C2AE8B;
	color: #FFEFDB;
}

@media (max-width: 767px) {
	#column1, #column2 {
		margin-bottom: 20px;
	}
}