---
layout: base
---
<div class="row">
	<div class="span12">
		<h1><a href="/">&larr; {{ page.title }}</a></h1>
	</div>
</div>
<div class="row">
	<div class="span8">
		{{ content }}
	</div>

	<div class="span4">

		{% if page.years %}
			{% for year in page.years %}
				<div class="year {{year.class}}">
					<div class="inner">
						<h2><span class="name">{{year.label}}</span><span class="grade">{{year.average}}</span></h2>
						<ul>
							{% for module in year.modules %}
								<li class="module {% cycle '', 'alt' %} {% if module.class %}{{module.class}}{% endif %}">
									<span class="name">{{module.name}}</span>{% if module.grade %}<span class="grade">({{module.grade}})</span>{% endif %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endfor %}
		{% endif %}

		{% if page.downloads %}
			<div id="downloads" class="colour3">
				<div class="inner">
					<h2>Downloads</h2>
					<ul>
						{% for download in page.downloads %}
							<li{% if download.class %} class="{{download.class}}"{% endif %}><a href="{{download.url}}">{{download.label}}</a>{% if download.description%} {{download.description}}{% endif %}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}

		{% if site.categories[page.shortcode] %}
			<div id="blogposts" class="blogposts colour2">
				<div class="inner">
					<h2>Blog Posts</h3>
					<ul>
						{% for  post in site.categories[page.shortcode] %}
							<li class="post"><a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
					</ul>
				</h2>
			</div>
		{% endif %}
	</div>
</div>
</article>