<!DOCTYPE html>
<html lang="en-GB">
<head>
	<link href='http://fonts.googleapis.com/css?family=Averia+Libre' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="/static/css/base.css" />
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<meta name="viewport" content="initial-scale=1.0">
	<title>{{ page.title }}</title>
</head>
<body>
	<div class="container">	
		<div class="row">
			<div id="header" class="span12">
				<h1>JScott.me</h1>
			</div>
		</div>
		{{ content }}
		<div class="row">
			<div id="footer" class="span12">
				LOL
			</div>
		</div>
	</div>
</body>
</html>