---
layout: base
---
<div class="row">
	<div class="span12">
		<h1><a href="/">&larr; {{ page.title }}</a></h1>
	</div>
</div>
<div class="row">
	<div class="span8">
		{{ content }}
	</div>

	<!--<div class="span4">
		<div class="colour1">
			<div class="inner">
				<h2>{{page.title}}</h2>
				<div class="content">
					<p>
						<strong>Company: </strong> ABC<br />
						<strong>Company: </strong> ABC<br />
						<strong>Company: </strong> ABC<br />
						<strong>Company: </strong> ABC<br />
						<strong>Company: </strong> ABC
					</p>
				</div>
			</div>
		</div>
	</div>-->
</div>
</article>