---
layout: base
---
<div class="row">
	<div class="span12">
		<h1><a href="/">&larr; {{ page.title }}</a></h1>
	</div>
</div>
<div class="row">
	<div class="span8">
		{{ content }}
	</div>

	<div class="span4">
		{% if page.screenshots %}
			<div id="screenshots" class="colour1">
				<div class="inner">
					{% if page.screenshots|length > 1 %}
						<h2>Screenshots</h2>
					{% else %}
						<h2>Screenshot</h2>
					{% endif %}
					<div class="content">
						{% for screenshot in page.screenshots %}
							<a href="{{screenshot.url}}" target="_BLANK"><img src="{{screenshot.thumbnail}}"></a>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}

		{% if page.downloads %}
			<div id="downloads" class="colour3">
				<div class="inner">
					<h2>Downloads</h2>
					<ul>
						{% for download in page.downloads %}
							<li{% if download.class %} class="{{download.class}}"{% endif %}><a href="{{download.url}}">{{download.label}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
		<!--<div class="colour1">
			<div class="inner">
				<h2>Company</h2>
				<div class="content">
					<p>{{page.company-info}}</p>
				</div>
			</div>
		</div>
		<div class="colour2">
			<div class="inner">
				<h2>Position</h2>
				<div class="content">
					<p>LOL</p>
				</div>
			</div>
		</div>
		<div class="inner colour3">
			<h2>Key Activities</h2>
			<div class="content">
				<p>LOL</p>
			</div>
		</div>-->
	</div>
</div>
</article>